.btn {
  color: var(--color-foreground);
  border: 1px solid;
  border-radius: var(--border-radius);
  padding: 0.4rem 0.8rem;
  background-color: var(--color-background);
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}

a.btn {
  text-decoration: none;
}

button.btn {
  font-family: var(--font-family);
}
