.form-control {
  position: relative;

  > input,
  > textarea {
    display: block;
  }

  > textarea {
    width: 100%;
    max-width: 30em;
  }

  input,
  select,
  textarea {
    border: 1px solid #bcbcbc;
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    min-height: 1.5em;
    padding: 0.5em;
  }

  .form-vertical & + .form-control {
    margin-top: 1rem;
  }

  search-box {
    position: relative;
  }

  search-box > .search-icon {
    position: absolute;
    pointer-events: none;
    width: 1em;
    height: 1em;
    bottom: 0.65rem;
    left: 0.5rem;
  }

  search-box > .search-icon + input {
    padding-left: 1.5rem;
  }
}

.form-artist-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-artist-list li {
  position: relative;
  padding-left: 1.25em;
  margin: 0.33rem 0 0.33rem 0.5rem;

  input {
    font-size: 0.8em;
  }

  &::before {
    content: '';
    position: absolute;
    box-sizing: content-box;
    cursor: move;
    top: 0.4em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double;
    border-bottom: 0.125em solid;
  }
}

.form-action-bar {
  margin: 1rem 0;
}

.input-group {
  display: flex;

  > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .input-group-addon {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

picture-input {
  display: block;
  min-height: 160px;
}

location-input,
artists-input {
  display: block;
  min-height: 2.25rem;
}

datetime-input {
  display: flex;
  align-items: flex-end;

  [type='date'] {
    margin-right: 1rem;
  }

  [type='time'] {
    display: inline-block;
  }
}

.autocomplete-result {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
}

.autocomplete-result:empty {
  display: none;
}
