.search-page {
  width: 100vw;
  max-width: 1024px;
  padding: 0 1rem;
}

.search-title {
  h2 {
    display: inline;
  }

  margin-bottom: 2rem;
}

.search-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  > *:not(:first-child) {
    margin-left: 1rem;
  }
}

.page-search-result {
  list-style: none;
  padding: 0;
}

.page-search-result > li {
  border-bottom: 1px solid #bcbcbc;

  &:first-child {
    border-top: 1px solid #bcbcbc;
  }
}

.page-search-result a {
  display: block;
  text-decoration: none;
  color: var(--color-foreground);

  &:hover {
    background-color: #eeeeec;
  }
}

.page-search-result a {
  position: relative;
  display: grid;
  grid-template:
    'picture main'
    'picture address' min-content;
}

.page-search-result a > time {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem;
}

.page-search-result h3 {
  grid-area: name;
  margin: 0.5rem 0 1rem;
}

.page-search-result-main {
  grid-area: main;
  padding-right: 5rem;
}

.page-search-result-picture {
  grid-area: picture;
  margin-right: 1rem;
}

.page-search-result-artists {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  > li:not(:first-child)::before {
    content: ', ';
  }
}

.page-search-result-address {
  grid-area: address;
  margin-bottom: 0.5rem;
  text-align: right;
  height: min-content;
  align-self: end;
}
