<a class="sr-only sr-only-focus skip-to-main" href="#main">Skip to content</a>
<header class="page-header {{if this.isIndex 'page-header--index'}}" role="banner">
  <LinkTo @route="index" class="brand" aria-label="Gig Pillar homepage">Gig Pillar</LinkTo>
  <div class="page-search-box">
    <label for="search">
      <span class="sr-only">Search for city, artist and concert</span>
      <span class="search-icon"></span>
    </label>
    <input id="search" placeholder="Search for city, artist and concert">
  </div>
  <nav class="page-navigation">
    <ul>
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><LinkTo @route="add-gig">Add Gig</LinkTo></li>
      <li><LinkTo @route="login">Login</LinkTo></li>
    </ul>
  </nav>
</header>
<main id="main" role="main">{{outlet}}</main>
<footer>
</footer>