<a class="sr-only sr-only-focus skip-to-main" href="#main">Skip to content</a>
<header class="page-header {{if this.isIndex 'page-header--index'}}" role="banner">
  <LinkTo @route="index" class="brand" aria-label="Gig Pillar homepage">Gig Pillar</LinkTo>
  <div class="page-search-box">
    <label for="search">
      <span class="sr-only">Search for city, artist and concert</span>
      <svg viewBox="0 0 48 48"><path d="M31 28h-1.59l-.55-.55c1.96-2.27 3.14-5.22 3.14-8.45 0-7.18-5.82-13-13-13s-13 5.82-13 13 5.82 13 13 13c3.23 0 6.18-1.18 8.45-3.13l.55.55v1.58l10 9.98 2.98-2.98-9.98-10zm-12 0c-4.97 0-9-4.03-9-9s4.03-9 9-9 9 4.03 9 9-4.03 9-9 9z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>
    </label>
    <input id="search" placeholder="Search for city, artist and concert">
  </div>
  <nav class="page-navigation">
    <ul>
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><LinkTo @route="add-gig">Add Gig</LinkTo></li>
      <li><LinkTo @route="login">Login</LinkTo></li>
    </ul>
  </nav>
</header>
<main id="main" role="main">{{outlet}}</main>
<footer>
</footer>