<div class="gig-detail-page">
  <header class="gig-detail-header">
    <time class="date">24.12.2020</time>
    <div class="title">
      <h2>Darkside - Gridlok</h2>
      <time class="doors">Doors: 23:00 Uhr</time>
    </div>
    <a href="#">📅 Add to my calendar</a>
  </header>

  <div class="gig-detail-left">
    <ul class="gig-detail-lineup">
      <li>Gridlok <small>01:00</small></li>
      <li>Dom &amp; Roland <small>03:00</small></li>
      <li>DEEJAYMF <small>00:00</small></li>
      <li>Ryck <small>23:00</small></li>
    </ul>

    <div class="gig-detail-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit lacinia urna, sed pharetra dui rutrum eget. Integer sit amet odio a nibh pharetra imperdiet. Etiam ac lobortis diam. In in lorem sit amet risus convallis mollis. Ut feugiat libero sit amet tincidunt consectetur. Pellentesque vehicula, mauris consequat facilisis dapibus, diam odio mattis turpis, at sagittis eros velit sit amet odio. Aliquam nisl sem, elementum sit amet odio id, tincidunt consectetur eros.</p>
      <p>ullam tempus dictum odio sagittis gravida. Sed purus libero, congue vitae tellus eget, molestie pretium velit. Praesent ultrices lectus quis convallis pharetra. Cras dapibus, purus ac placerat tincidunt, tellus ipsum porta nisi, ut tincidunt lorem sapien nec turpis. Phasellus id metus lectus. Integer ante libero, ullamcorper et vulputate eget, congue et lorem. Vestibulum fringilla lacus sed porta pellentesque.</p>
    </div>
  </div>

  <address class="gig-detail-address gig-detail-right">
    <div>
      Dachstock<br>
      Neubrückstrasse 8<br>
      3012 Bern, Switzerland
    </div>

    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=7.439959645271302%2C46.952186551111424%2C7.441131770610809%2C46.95337845276756&amp;layer=mapnik&amp;marker=46.95278342069669%2C7.440547049045563" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=46.95278&amp;mlon=7.44055#map=19/46.95278/7.44055">View Larger Map</a></small>
  </address>
</div>