<form class="register-page form-vertical">
  <div class="form-control">
    <label for="name">Username</label>
    <input id="name">
  </div>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email">
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input id="password" type="password">
  </div>

  <div class="form-control">
    <label for="password">Repeat password</label>
    <input id="password" type="password">
  </div>

  <div class="form-action-bar">
    <button class="btn btn-success">Create your Account</button>
  </div>
</form>
